html
  title URL Shortner api
  link(rel='stylesheet',href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
  link(rel = 'stylesheet' , href='/public/main.css')
  link(rel='stylesheet' , href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
  script(src="/public/app.js")
  body
    .container
      if err
        div.error
          button(type='button' class='bt') X
          h3 You Tried to acess a broken link .Error Message 404 #{err}

      h1 API : URL SHORTNER .
        | <a href="https://github.com/priyansh1161"><i class="fa fa-github" aria-hidden="true"></i></a>
      p.
        <b> USE :</b> When you Pass a link to /api of this page then a JSON object will be returned.
        This object will have two prop <b>org link</b> and <b> shot link </b>
        you can acess your short link at /{{your link}}.
        <em>Enough Talking</em> lets show you some Examples.
      <br>
      h3 Example :
      code localhost:3000/api/http://google.com
      p will return output :
      blockquote.
        {
        "orgLink":"https://google.com",<br>
        "shotlink":"loclhost:3000/1"<br>
        }
      code localhost:3000/api/sjkjk
      p will return error :
      blockquote.
        {
          'err' : 'requested type not a url'
        }
      h2 To use the shortlinks make a request to / .
      code loclhost:3000/1
      p will redriect to https://www.google.com
      <br>
      p.col However any request to root page that is not in database will redirect you back to localhost:3000
    div.footer
      p.foot.
        Copyrights &copy; 2016. MIT licence.
